.dial {
  height: 400px;
  width: 400px;
}

.timer {
  position: relative;
  display: inline-block;
}

* {
  font: inherit;
}

body {
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans",
    "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  background: #e6dada; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #274046,
    #e6dada
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #274046,
    #e6dada
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.timer input {
  display: block;
  background: transparent;
  border: none;
  width: 240px;
  font-size: 90px;
  text-align: center;
  color: rgb(0, 0, 0);
}

.timer button {
  border: none;
  font-size: 36px;
  cursor: pointer;
  background: transparent;
}

.timer button:focus {
  outline: none;
}

.timer input:focus {
  outline: none;
}

.controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

circle {
  stroke: #f3e305;
}

h2 {
  font-size: 3rem;
  color: rgb(24, 31, 31);
}
